<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/jnosso</property>
		<property name="hibernate.connection.username">usr_banco</property>
		<property name="hibernate.connection.password">banco123</property>

		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.jdbc.batch_size">20</property>

		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">100</property>
		<property name="c3p0.max_size">100</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.min_size">10</property>
		<property name="c3p0.timeout">100</property>
		
		<!-- validate | update | create | create-drop -->
		<property name="hibernate.hbm2ddl.auto">validate</property>
		
		<mapping class="br.com.biavan.model.BaseImc" />
		<mapping class="br.com.biavan.model.Medida" />
		<mapping class="br.com.biavan.model.Meta" />
		<mapping class="br.com.biavan.model.Pessoa" />
		<mapping class="br.com.biavan.model.PressaoArterial" />
		<mapping class="br.com.biavan.model.Usuario" />		
		<mapping class="br.com.biavan.model.Perfil" />
	</session-factory>
</hibernate-configuration>