body {
	font-size: 80%;
}

table {
	font-size: 1em;
}

/* Site
   -------------------------------- */

body {
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

/* Layout
   -------------------------------- */

table.layout-grid, table.layout-grid-totais {
	width: 100%;
}

table.layout-grid-totais {
    border: 1px dashed; 
}

table.layout-grid th {
    background-color: #228B22;
    color: #FFFFFF;
}

table.layout-grid td {
	vertical-align: top;
}

table.layout-grid tr.par, table.layout-grid-totais tr.par{
    background-color: #F0FFF0;
}

table.layout-grid tr.impar, table.layout-grid-totais tr.impar {
    background-color: #FFFFFA;
}

table.layout-grid-totais th {
    text-align: left;
}

table.layout-grid-totais td {
    text-align: right;
}

table.layout-grid tr:hover, table.layout-grid-totais tr:hover {
    background-color: #98FB98;
}

div#menu {
	
}

div#main {
/*	position: absolute;*/
/*	top: 80px;*/
	width: 700px;
}

div#submenu ul {
	left: -40px;
	list-style-type: none;
	position: relative;
}

div#submenu ul li {
	display: inline;
}

div.form {
	display: -moz-grid;
}

div.label_long {
    width: 670px;
}

/* Normal
   -------------------------------- */

.normal h3,
.normal h4 {
	margin: 0;
	font-weight: normal;
}

.normal h3 {
	padding: 0 0 9px;
	font-size: 1.8em;
}

.normal h4 {
	padding-bottom: 21px;
	border-bottom: 1px dashed #999;
	font-size: 1.2em;
	font-weight: bold;
}

.normal p {
	font-size: 1.2em;
}
